<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "FP Booking（く）", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">

        <% if user_signed_in? %>
          <li> <%= link_to raw('<span class="glyphicon glyphicon-user"></span>' +
                  "#{current_user.email}"),
                  edit_user_registration_path %></li>
          <li> <%= link_to raw('<span class="glyphicon glyphicon-log-out"></span>
                  ログアウト'),
                  destroy_user_session_path, method: :delete %></li>
        <% elsif fp_signed_in? %>
          <li> <%= link_to raw('<span class="glyphicon glyphicon-pencil"></span>' +
                  "#{current_fp.email}"),
                  edit_fp_registration_path %></li>
          <li> <%= link_to raw('<span class="glyphicon glyphicon-log-out"></span>
                  ログアウト'),
                  destroy_fp_session_path, method: :delete %></li>
        <% else %>
          <li> <%= link_to raw('<span class="glyphicon glyphicon-log-in"></span>
                  ログイン'),
                  new_user_session_path %></li>
        <% end %>
        <li><%= link_to image_tag("GitHub-Mark-Light-32px.png",
                        alt: "GitHub Mark",
                        width: 24),
                'https://github.com/naraba/fpbooking' %></li>
      </ul>
    </nav>
  </div>
</header>
